*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background: url(mountain.jpg);
}

/* header */
header{
    text-align: center;
    width: 60%;
    background-color: rgb(46, 59, 142, 0.8);
    backdrop-filter: blur(0.2rem);
    border: 0.1rem solid white;
    margin: 0.5rem auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

header h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 2rem;
    cursor: default;
}

/* main */
main{
    width: 60%;
    height: auto;
    margin: auto;
    min-height: 25rem;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    background: transparent;
    backdrop-filter: blur(4rem);
    color: white;
}

.instruksi{
    padding: 0.5rem;
    text-align: center;
}

.input, .output, .kalkulasi{
    padding: 0.5rem;
    margin: 0.3rem 0.5rem;
    display: flex;
    flex-direction: column;
}

.textbox{
    padding: 0.8rem;
    border: 0.2rem solid rgb(208, 208, 208);
    border-radius: 25rem;
}

.tombol{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tombol button{
    width: 5rem;
    padding: 0.5rem;
    margin: 0rem 5%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    border: 0.05rem solid rgb(255, 255, 255, 0.5);
    border-radius: 25rem;
}

.tombol button:hover{
    box-shadow: 0rem 0rem 0.8rem white;
}

.output{
    padding-top: 0.02rem;
}

.kalkulasi{
    margin-bottom: 0.1rem;
}

article h2{
    margin-bottom: 0.5rem;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
}

.c-f, .f-c{
    margin-top: 0.5rem;
}

.f-ke-c, .c-ke-f{
    margin: 0.05rem 0rem;
    font-size: 0.9rem;
    color: rgb(76, 176, 199);
    font-weight: 700;
}

.f-ke-c:hover, .c-ke-f:hover{
    color: rgb(168, 115, 218);
    cursor: pointer;
}

.active{
    display: none;
}

/* footer */
footer{
    padding: 0.2rem;
    margin-bottom: 0rem;
    text-align: center;
    width: 100%;
    color: white;
}

@media (max-width: 700px){
    header, main{
        width: 80%;
    }
}