*{
    box-sizing: border-box;
    padding: 0rem;
    margin: 0rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(46, 59, 142); */
    background: url(mountain.jpg);
}

/* .container{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 100vw;
    min-height: 100vh;
} */

/* header */
header{
    text-align: center;
    width: 60%;
    background-color: rgb(46, 59, 142, 0.8);
    backdrop-filter: blur(0.2rem);
    border: 0.1rem solid white;
    margin: 0.5rem auto;
    border-radius: 1rem;
    margin-top: 1rem;
}

header h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 200;
    font-size: 2rem;
}

/* main */
main{
    width: 60%;
    height: auto;
    margin: auto;
    min-height: 25rem;
    background-color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    background: transparent;
    backdrop-filter: blur(4rem);
    color: white;
}

.instruksi{
    /* background-color: aqua; */
    padding: 0.5rem;
    text-align: center;
}

.input, .output, .kalkulasi{
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
}

.textbox{
    padding: 0.8rem;
    border: 0.2rem solid rgb(208, 208, 208);
    border-radius: 25rem;
}

.input{
    /* background-color: azure; */
}

.tombol{
    display: flex;
    justify-content: center;
    /* background-color: beige; */
    margin-top: 1rem;
}

.tombol button{
    width: 5rem;
    padding: 0.5rem;
    margin: 0rem 5%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
    border: 0.05rem solid rgb(255, 255, 255, 0.5);
    border-radius: 25rem;
}

.tombol button:hover{
    box-shadow: 0rem 0rem 0.8rem white;
}

.output{
    /* background-color: brown; */
}

.kalkulasi{
    /* background-color: blanchedalmond; */
    margin-bottom: 0.1rem;
}

article h2{
    margin-bottom: 0.5rem;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: aliceblue; */
}

article .rumus{
    margin-top: 0.5rem;
}

/* footer */
footer{
    padding: 0.2rem;
    margin-bottom: 0rem;
    text-align: center;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0rem; */
    color: white;
    /* background-color: grey; */
}